<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NATALIA BUSTAMANTE, diseño integral</title>
    <meta name="keywords" content="diseño, gráfica, diseñadora,UX">
    <meta name="description"
        content="Creación de piezas gráfica desde la investigación. Natalia Bustamante es una diseñadora integral, su trabajo se centra en desarrollar proyectos donde el diseño proviene de la observación del hombre y la naturaleza">


    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

            <!--icono chico-->
            <link rel="icon" href="file:///C:/Users/usuario/Desktop/sitio%20portafolio/assets/Isotipo.svg" type="image/svg"
            sizes="16x16">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">

</head>

<body>

    
    <!--navbar-->
    <nav class="navbar navbar-expand-lg mb-4 navbar-light" style="background-color:#EFEFEF";>

        <div class="contenedor">

            <a href="#"><img class="isotipo" src="file:///C:/Users/usuario/Desktop/sitio%20portafolio/assets/Isotipo.svg"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse nav-principal" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="file:///C:/Users/usuario/Desktop/sitio%20portafolio/views/home/home.html"
                        target="blank">Portafolio</a> 
                    <li class="nav-item">
                        <a class="nav-link" href="file:///C:/Users/usuario/Desktop/sitio%20portafolio/views/about/about.html"
                        target="blank">Sobre mi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="file:///C:/Users/usuario/Desktop/sitio%20portafolio/views/contact/contact.html"target="blank">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <article class="cuerpo">

        <h3 class="epigrafe">Hola, soy Natalia Bustamante, Diseñadora</h3>
        <h1 class="titular">Actualmente dedicada a humanizar lo digital.</h1>


        <section class="cardproyecto">

            <div class="imagenesproyecto primero">
                <img src="file:///C:/Users/usuario/Desktop/sitio%20portafolio/assets/zeplin2.png" class="imagenarriba segundo">
                <img src="file:///C:/Users/usuario/Desktop/sitio%20portafolio/assets/pantalla.png" class="imagenabajo nueva">
            </div>

            <div class="resumen uno">
                <h4 class="tituloproyecto">UX-UI</h4>
                <p class="textoresumen">En conjunto al equipo de EXPERIENCIA Y DESARROLLO DIGITAL, en Caja los Andes , diseñamos la interfaz de usuario y la experiencia de usuario de una nueva versión de la aplicación “Más Caja”.</p>
                <button class="conocermas" type="button" role="button">CONOCER</button>
            </div>
        </section>

        <section class="cardproyecto">

            <div class="resumen dos">
                <h4 class="tituloproyecto dos">Investigación</h4>
                <p class="textoresumen">Se investiga la experiencia de usuario (UX) de una misma interfaz física: aula universitaria. La cual presenta y perpetúa antiguas relaciones de conocimiento-poder. Volviéndose un espacio simbólico de relaciones que en la era digital son obsoletas.</p>
                <button class="conocermas dos" type="button" role="button">CONOCER</button>
            </div>

            <div class="imagenesproyecto">
                <img src="file:///C:\Users\usuario\Desktop\sitio portafolio\assets\foto2.jpg" class="imagenarriba tercero">
                <img src="file:///C:\Users\usuario\Desktop\sitio portafolio\assets\ux.jpg"  class="imagenabajo cuarto">
            </div>


        </section>

        <section class="cardproyecto">

            <img src="file:///C:\Users\usuario\Desktop\sitio portafolio\assets\tilecotil.jpg" class="imagenesproyecto tres">

            <div class="resumen">
                <h4 class="tituloproyecto">Identidad y comunicación visual</h4>
                <p class="textoresumen">Colaboraciones en diferentes proyectos donde se trabaja la comunicación visual, la conceptualización de ideas y la generación del contenido escrito. </p>
                <button class="conocermas" type="button" role="button">CONOCER</button>
            </div>
        </section>

        <section class="cardproyecto">

            <img src="file:///C:\Users\usuario\Desktop\sitio portafolio\assets\perfil.png"class="imagenesproyecto cuatro">
        

            <div class="resumen">
                <h4 class="tituloproyecto">Estrategia y desarrollo de marcas</h4>
                <p class="textoresumen">Perfilamiento de marcas a partir de la conceptualización visual de los objetivos de cada una de ellas. Ideación de estrategias de posicionamiento y contenido. </p>
                <button class="conocermas" type="button" role="button">CONOCER</button>
            </div>
        </section>

    </article>


    
    <!--fotter-->
    
<footer>
    <section class="itemfotter">
        <div class=linea></div>
        <article class="contactos">
            <div class="mail" >
            <a href="file:///C:/Users/usuario/Desktop/sitio%20portafolio/views/contact/contact.html" target="blank">nibustamante@uc.cl</a>
            </div>

            <ul class="enlaces">
                <li class="enlace"><a href="#">Resumen</a></li>
                <li class="enlace"><a href="https://www.linkedin.com/in/natalia-bustamante-365b9a110/">Linkedin</a></li>
                <li class="enlace"><a href="https://www.instagram.com/juana.no.ma/">Instagram</a></li>
            </ul>
        </article>
    </section>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>

</body>

</html>