<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NATALIA BUSTAMANTE, diseño integral</title>
    <meta name="keywords" content="diseño, gráfica, diseñadora,UX">
    <meta name="description"
        content="Creación de piezas gráfica desde la investigación. Natalia Bustamante es una diseñadora integral, su trabajo se centra en desarrollar proyectos donde el diseño proviene de la observación del hombre y la naturaleza">


    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

        <!--icono chico-->
        <link rel="icon" href="file:///C:/Users/usuario/Desktop/sitio%20portafolio/assets/Isotipo.svg" type="image/svg"
        sizes="16x16">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">

    <!--normalize-->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" crossorigin="anonymous">

</head>

<body style="background-color:#6A6C78;">

        <!--navbar-->
        <nav class="navbar navbar-expand-lg mb-4 navbar-light" style="background-color:#6A6C78;;;">

            <div class="contenedor">
    
                <a href="#"><img class="isotipo" src="file:///C:/Users/usuario/Desktop/sitio%20portafolio/assets/Isotipo.svg"></a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
                <div class="collapse navbar-collapse nav-principal" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/usuario/Desktop/sitio%20portafolio/views/home/home.html"
                            target="blank">Portafolio</a> 
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/usuario/Desktop/sitio%20portafolio/views/about/about.html"
                            target="blank">Sobre mi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/usuario/Desktop/sitio%20portafolio/views/contact/contact.html"target="blank">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--contenido sobre mi-->
        <article class="cuerpo color">

            <section class="imagencontacto">
                <div class="marco">
                    <img src="file:///C:/Users/usuario/Desktop/sitio%20portafolio/assets/imagenyo.jpg" class="imagenyo">
                </div>
                <div class="linkresumen">
                    <h4 class="titulolinks">Contacto</h4>
                    <ul>
                        <li><a href="file:///C:/Users/usuario/Desktop/sitio%20portafolio/views/contact/contact.html" target="blank">nibustamante@uc.cl</a></li>
                    </ul>
                    <h4 class="titulolinks">Links</h4>
                    <ul>
                        <li>Resumen</li>
                        <li><a href="https://www.linkedin.com/in/natalia-bustamante-365b9a110/">Linkedin</a></li>
                        <li><a href="https://www.instagram.com/juana.no.ma/">Instagram</a></li>
                    </ul>
                </div>
            </section>

            <section class="sobremi">
                <h4 class="titulosobremi">Hola, gracias por visitarme.<br />
                    En este rincón cuento algunas cosas de mi.
                </h4>
                <p class="resumensobremi"><strong>Estudié diseño integral en Pontificia Universidad Católica, e hice un
                bootcamp de Diseño UI/UX.</strong> Actualmente trabajo de forma independiente con clientes de diversas áreas;
                realizando diferentes soluciones gráficas.Para mi el diseño se trabaja de forma holística,
                considerando actores, interacciones y ecosistemas.<br />
                <br />

                Me he desempeñado en equipos de departamentos de desarrollo digital donde se trabaja con
                metodologías ágiles, mi rol principal ha sido bajar la conceptualización de los mapas de navegación
                en experiencia de pantallas para aplicaciones móviles.<br />
                <br />

                Me entusiasma la investigación de usuarios en profundidad y el desarrollo de soluciones que
                contribuyan en la construcción de experiencias placenteras, interesantes, empáticas y afectuosas.<br />
                <br />

                Encuentro pasión; en el desarrollo de nuevas habilidades, en el proceso de aprender algo nuevo, en generar cambio y completar los proyectos y en aquellas cosas que me mueven.<br /><br />

                Amo caminar. Conversar. Leer y siempre escribir.
                </p>
                <h4 class="finalresumen">Escríbeme estoy abierta a las oportunidades de movimiento</h4>
            </section>
        </article>

        <!--Imagenes-->
        <section class="galeria">
            <div class="columna">
             <img src="file:///C:/Users/usuario/Desktop/sitio%20portafolio/assets/yo.jpg" class="imagenuno">
            <img src="file:///C:/Users/usuario/Desktop/sitio%20portafolio/assets/lana.jpg"class="imagendos"></div>
            </div>
                   
            <div class="columnados">
                <img src="file:///C:/Users/usuario/Desktop/sitio%20portafolio/assets/quintana.jpg"class="imagentres">
                <img src="file:///C:/Users/usuario/Desktop/sitio%20portafolio/assets/perec.jpg"class="imagencuatro">
            </div>
        
        </section>
    <!--fotter-->
    
<footer>
    <section class="itemfotter">
        <div class=linea></div>
        <article class="contactos">
            <div class="mail" >
            <a href="file:///C:/Users/usuario/Desktop/sitio%20portafolio/views/contact/contact.html" target="blank">nibustamante@uc.cl</a>
            </div>

            <ul class="enlaces">
                <li class="enlace"><a href="#">Resumen</a></li>
                <li class="enlace"><a href="https://www.linkedin.com/in/natalia-bustamante-365b9a110/">Linkedin</a></li>
                <li class="enlace"><a href="https://www.instagram.com/juana.no.ma/">Instagram</a></li>
            </ul>
        </article>
    </section>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>

</body>
</html>